*{
    box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
  font-size: 18px;
  text-align: center;
  background: url('blue-abstract-background-texture.jpg') no-repeat top center;

}

.list,ul {
  list-style: none;
  text-align: center;
  font-style: italic;
  font-weight: 550;
  color: black;

}

a:link, a:visited {
  text-decoration: none;
  background-color: lightblue;
  border: 1px solid lightblue;
  color: black;
  width: 200px;
}

a:hover, a:active {
  background-color: red;
  color: yellow;
}

#box {
  text-align: center;
  background-color: white;
  padding: 15px 10px;
  width: 40%;
  margin-left: 31%;

}

#back, #next {
  font-size: 14px;
  border: 0px;


}
#next {
  float:right;
}

#back {
  float: left;
}
